nav.active{
    background-color: white;
}
nav.active .navbar-brand,
nav.active a{
   color: #20c997 !important; 
}
section{
    padding-top: 3em;
}
section h2{
    color: #20c997;
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 2px solid #20c997;
    font-weight: 400;
    text-transform: uppercase;
}
#inicio{
    padding-top: 0;
}
#quienes-somos span{
    background: #20c997;
    display: block;
    padding: 1em;
    text-align: center;
    margin: .5em 0;
}
#quienes-somos span i{
    color: white;
    font-size: 1.2em;
}
#destacados .card{
    color: white;
    background-color:#20c997;
    margin-bottom: 2em;
}
footer{
    background-color:#20c997;
    margin-top: 2em;
}
footer p{
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    line-height: 3em;
    color: white;
    margin: 0;
}
footer a{
    color: #158866;
}
footer a:hover{
    color: white;
}
footer i{
    font-size: 1.5em;
    margin: 1em 0.5em;
}